.ui-form .input-set .label {
	width: 40%;
	float: left;
}
.ui-form .input-set .input {
	width: 60%;
	float: right;
	
}
.ui-form .input-set {
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.ui-form .input-set .input input[type="text"],
.ui-form .input-set .input input[type="password"],
.ui-form .input-set .input select ,
.ui-form .input-set .input textarea
{
	margin-bottom: 0px;
}